
.l-container {
  margin: 0 auto;
  max-width: var(--container-max);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.l-container-fluid {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

