@use 'sass:math';
@use '../mixins' as *;

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$gutter-sizes: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

@function col-width($num) {
  @return math.percentage(math.div($num, $grid-columns));
}

.row {
  --bs-gutter-x: #{$grid-gutter-width};
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));

  > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 auto;
    width: col-width($i);
  }

  .offset-#{$i} {
    margin-left: col-width($i);
  }
}

@each $size, $value in $gutter-sizes {
  .g-#{$size},
  .gx-#{$size} {
    --bs-gutter-x: #{$value};
  }

  .g-#{$size},
  .gy-#{$size} {
    --bs-gutter-y: #{$value};
  }
}

@mixin make-responsive-columns($prefix) {
  .col-#{$prefix} {
    flex: 1 0 0%;
  }

  .col-#{$prefix}-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$prefix}-#{$i} {
      flex: 0 0 auto;
      width: col-width($i);
    }

    .offset-#{$prefix}-#{$i} {
      margin-left: col-width($i);
    }
  }
}

@each $name, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @include make-responsive-columns($name);

    .g-#{$name}-0,
    .gx-#{$name}-0 {
      --bs-gutter-x: 0;
    }

    .g-#{$name}-0,
    .gy-#{$name}-0 {
      --bs-gutter-y: 0;
    }

    @each $gutter-size, $gutter-value in $gutter-sizes {
      @if $gutter-size > 0 {
        .g-#{$name}-#{$gutter-size},
        .gx-#{$name}-#{$gutter-size} {
          --bs-gutter-x: #{$gutter-value};
        }

        .g-#{$name}-#{$gutter-size},
        .gy-#{$name}-#{$gutter-size} {
          --bs-gutter-y: #{$gutter-value};
        }
      }
    }
  }
}
