
.l-stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &-xs { gap: var(--space-xs); }
  &-sm { gap: var(--space-sm); }
  &-md { gap: var(--space-md); }
  &-lg { gap: var(--space-lg); }
  &-xl { gap: var(--space-xl); }
  &-2xl { gap: var(--space-2xl); }
}

