
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--body);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: var(--header-height);
}


a {
  color: inherit;
  text-decoration: underline;
  transition: color var(--transition-fast);
}


ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

nav ul,
nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

img, picture, video, canvas, svg {
  vertical-align: middle;
}


button, input, select, textarea {
  font: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

input, textarea {
  outline: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

