@use '../mixins' as *;


.l-grid {
  display: grid;
  gap: 24px;
}

$grid-columns: 1, 2, 3, 4, 5, 6, 7;

@each $cols in $grid-columns {
  .l-grid-cols-#{$cols} {
    grid-template-columns: repeat(#{$cols}, 1fr);
  }
}

@include respond-to('lg') {
  .lg\:l-grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
  .lg\:l-grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
  .lg\:l-grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
}

@include respond-to('md') {
  .md\:l-grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
  .md\:l-grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
  .md\:l-grid-cols-1 { grid-template-columns: repeat(1, 1fr); }
}

@include respond-to('sm') {
  .sm\:l-grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
  .sm\:l-grid-cols-1 { grid-template-columns: repeat(1, 1fr); }
}

