
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-4k: 2560px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (max-width: #{$breakpoint-md - 1px}) {
      @content;
    }
  }
  @else if $breakpoint == 'md' {
    @media (max-width: #{$breakpoint-lg - 1px}) {
      @content;
    }
  }
  @else if $breakpoint == 'lg' {
    @media (max-width: #{$breakpoint-xl - 1px}) {
      @content;
    }
  }
  @else if $breakpoint == 'xl' {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
  @else if $breakpoint == 'xxl' {
    @media (min-width: #{$breakpoint-xxl}) {
      @content;
    }
  }
  @else if $breakpoint == '4k' {
    @media (min-width: #{$breakpoint-4k}) {
      @content;
    }
  }
  @else {
    @media (max-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin respond-from($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }
  @else if $breakpoint == 'md' {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }
  @else if $breakpoint == 'lg' {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }
  @else if $breakpoint == 'xl' {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
  @else if $breakpoint == 'xxl' {
    @media (min-width: #{$breakpoint-xxl}) {
      @content;
    }
  }
  @else if $breakpoint == '4k' {
    @media (min-width: #{$breakpoint-4k}) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin desktop-xxl {
  @media (min-width: #{$breakpoint-xxl}) {
    @content;
  }
}

@mixin desktop-4k {
  @media (min-width: #{$breakpoint-4k}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

